.pageTitle {
  grid-column: 1 / -1;
  margin: 0 0 1rem 0;
  font-weight: normal;
  color: #2e7d32;
}

.mealCard {
  height: 100%;
  min-height: 200px;
}

.mealCard .MuiCardContent-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dateButton {
  margin: 0.25rem;
}

.selectedDate {
  background-color: #2e7d32 !important;
  color: white !important;
}