.pageTitle {
  grid-column: 1 / -1;
  margin: 0 0 1rem 0;
  font-weight: normal;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  text-align: center;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  text-align: center;
  gap: 1rem;
}

.container {
  grid-column: 1 / -1;
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
