.pageTitle {
  grid-column: 1 / -1;
  margin: 0 0 1rem 0;
  font-weight: normal;
}

.container {
  grid-column: 1 / -1;
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
