.sidebar {
  width: 250px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #CDCDCD;
  position: fixed;
  left: 0;
  top: 0;
}

.nav {
  padding: .5rem;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navList li {
  margin-bottom: 0.5rem;
}

.navLink {
  display: block;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  color: #333;
  border-radius: 0px;
  transition: background-color 0.2s;
  text-align: left;
  font-family: 'Lexand', sans-serif;
}

.navLink:hover {
  background-color: #F8EFD0;
  color: #000000;
  border-right: 3px solid #7B7565;
}

.minimized {
  width: 60px;
}

.toggleButton {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background: none;
  padding: 0.15rem;
  border: none;
  cursor: pointer;
  color: black;
  line-height: 1;
}

.minimized .toggleButton {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.toggleButton:hover {
  background: #F8EFD0;
}
